  .custom-button {
    background-color: rgb(0, 255, 140);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .custom-button.inactive {
    background-color: grey;
    cursor: not-allowed;
    pointer-events: none; /* Prevents clicks during 10s */
  }