:root {
    --brand-color: #22acde;
    /* get the right shade of blue for this! */
    --shadow-color: rgba(0, 0, 0, 0.2);
    /* get the right shade of grey for this! */
    --border-color: rgba(0, 0, 0, 0.3);
    --background-color: #1e1e1e;
    /* dark mode only */
    --white-color: #ffffff;
    --grey-color: #555;

}


body {
    width: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

.color-display {
    width: 80px;
    height: 50px;
    border: 1px solid var(--shadow-color);
    margin-top: 10px;
}